# MOVIES RECCOMENDATION - Collaborative Filtering

In [2]:
import pandas as pd
import numpy as np

APP_NAME = 'CollaborativeFiltering'
# path = "/Assignment_2/data/ml-latest-small/"
path = "./data/ml-latest-small/"
pathlinks = path + 'links.csv'
pathmovies = path + 'movies.csv'
pathratings = path + 'ratings.csv'
pathtags = path + 'tags.csv'

In [3]:
ratings_df = pd.read_csv(pathratings)
movies_df = pd.read_csv(pathmovies)
movies_df['movieId'] = movies_df['movieId'].apply(pd.to_numeric)

In [4]:
# display(movies_df.shape)
display(movies_df)
# movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
# display(ratings_df.shape)
display(ratings_df)
# ratings_df.head()

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

## Formatting the ratings matrix to be one row per user and one column per movie

In [6]:
R_df = ratings_df.pivot(index = 'movieId', columns ='userId', values = 'rating').fillna(0)
# R_df.head()
display(R_df)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Normalize by each users mean and convert it from a dataframe to a numpy array

In [7]:
R = R_df.to_numpy()
user_ratings_mean = np.mean(R, axis = 1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [8]:
display(R_demeaned.shape)
display(R_demeaned)
# display(user_ratings_mean)
# display(R_demeaned[0])
# display(R_demeaned[1])

(9724, 610)

array([[ 2.61803279, -1.38196721, -1.38196721, ...,  1.11803279,
         1.61803279,  3.61803279],
       [-0.61885246, -0.61885246, -0.61885246, ...,  1.38114754,
        -0.61885246, -0.61885246],
       [ 3.72213115, -0.27786885, -0.27786885, ...,  1.72213115,
        -0.27786885, -0.27786885],
       ...,
       [-0.0057377 , -0.0057377 , -0.0057377 , ..., -0.0057377 ,
        -0.0057377 , -0.0057377 ],
       [-0.0057377 , -0.0057377 , -0.0057377 , ..., -0.0057377 ,
        -0.0057377 , -0.0057377 ],
       [-0.00655738, -0.00655738, -0.00655738, ..., -0.00655738,
        -0.00655738, -0.00655738]])

In [9]:
user_ratings_pd_mean = pd.DataFrame.mean(R_df, axis=1)
# user_ratings_pd_mean = pd.DataFrame.mean(R_df, axis=1).to_frame("mean")["mean"]
# us = user_ratings_pd_mean.DataFrame.rename(columns={"": "mean"})
# us = user_ratings_pd_mean.columns.values[1] = 'mean'
# us = user_ratings_pd_mean.name = 'mean'
# us = user_ratings_pd_mean.rename(columns={"movieid": "movie", "": "mean"})
# us = user_ratings_pd_mean.columns.tolist()
# us = user_ratings_pd_mean.dtypes
display(user_ratings_pd_mean)

# us = user_ratings_pd_mean.stack()
# display(us)

movieId
1         1.381967
2         0.618852
3         0.277869
4         0.027049
5         0.246721
            ...
193581    0.006557
193583    0.005738
193585    0.005738
193587    0.005738
193609    0.006557
Length: 9724, dtype: float64

In [10]:
R_pd_demeaned = R_df.subtract(user_ratings_pd_mean, axis='index', fill_value=None)
display(R_pd_demeaned)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,2.618033,-1.381967,-1.381967,-1.381967,2.618033,-1.381967,3.118033,-1.381967,-1.381967,-1.381967,...,2.618033,-1.381967,2.618033,1.618033,2.618033,1.118033,2.618033,1.118033,1.618033,3.618033
2,-0.618852,-0.618852,-0.618852,-0.618852,-0.618852,3.381148,-0.618852,3.381148,-0.618852,-0.618852,...,-0.618852,3.381148,-0.618852,4.381148,2.881148,-0.618852,-0.618852,1.381148,-0.618852,-0.618852
3,3.722131,-0.277869,-0.277869,-0.277869,-0.277869,4.722131,-0.277869,-0.277869,-0.277869,-0.277869,...,-0.277869,-0.277869,-0.277869,-0.277869,-0.277869,-0.277869,-0.277869,1.722131,-0.277869,-0.277869
4,-0.027049,-0.027049,-0.027049,-0.027049,-0.027049,2.972951,-0.027049,-0.027049,-0.027049,-0.027049,...,-0.027049,-0.027049,-0.027049,-0.027049,-0.027049,-0.027049,-0.027049,-0.027049,-0.027049,-0.027049
5,-0.246721,-0.246721,-0.246721,-0.246721,-0.246721,4.753279,-0.246721,-0.246721,-0.246721,-0.246721,...,-0.246721,-0.246721,-0.246721,2.753279,-0.246721,-0.246721,-0.246721,-0.246721,-0.246721,-0.246721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,...,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557
193583,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,...,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738
193585,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,...,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738
193587,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,...,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738,-0.005738
193609,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,...,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557,-0.006557

### Cosine Simmilarity

In [11]:
from sklearn.metrics.pairwise import cosine_similarity

cos_sim = cosine_similarity(R_pd_demeaned)

In [12]:
display(cos_sim.shape)
display(cos_sim)

(9724, 9724)

array([[ 1.        ,  0.2313265 ,  0.1732128 , ..., -0.0289057 ,
        -0.0289057 , -0.0289057 ],
       [ 0.2313265 ,  1.        ,  0.19194487, ..., -0.01829073,
        -0.01829073, -0.01829073],
       [ 0.1732128 ,  0.19194487,  1.        , ..., -0.01172923,
        -0.01172923, -0.01172923],
       ...,
       [-0.0289057 , -0.01829073, -0.01172923, ...,  1.        ,
         1.        , -0.00164204],
       [-0.0289057 , -0.01829073, -0.01172923, ...,  1.        ,
         1.        , -0.00164204],
       [-0.0289057 , -0.01829073, -0.01172923, ..., -0.00164204,
        -0.00164204,  1.        ]])

In [13]:
movies = list(R_df.columns.values)
users = list(R_df)

cos_sim_df = pd.DataFrame(data=cos_sim[1:,1:],)    # values
#                           index=R_pd_demeaned[1:,0],    # 1st column as index
#                           columns=R_pd_demeaned[0,1:])  # 1st row as the column names

display(cos_sim_df)

,0,1,2,3,4,5,6,7,8,9,...,9713,9714,9715,9716,9717,9718,9719,9720,9721,9722
0,1.000000,0.191945,0.071269,0.200526,0.158341,0.127569,0.141540,-0.021045,0.285086,0.217090,...,-0.018291,-0.018291,-0.018291,-0.018291,-0.018291,-0.018291,-0.018291,-0.018291,-0.018291,-0.018291
1,0.191945,1.000000,0.067143,0.370171,0.196442,0.351513,0.296897,0.275812,0.136916,0.174251,...,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729,-0.011729
2,0.071269,0.067143,1.000000,0.167910,0.053755,0.258075,0.148726,-0.016025,0.056000,0.128247,...,-0.004138,-0.004138,-0.004138,-0.004138,-0.004138,-0.004138,-0.004138,-0.004138,-0.004138,-0.004138
3,0.200526,0.370171,0.167910,1.000000,0.215503,0.429890,0.265777,0.308085,0.110833,0.201002,...,-0.011456,-0.011456,-0.011456,-0.011456,-0.011456,-0.011456,-0.011456,-0.011456,-0.011456,-0.011456
4,0.158341,0.196442,0.053755,0.215503,1.000000,0.148109,0.114707,0.167909,0.251343,0.182082,...,-0.017712,-0.017712,-0.017712,-0.017712,-0.017712,-0.017712,-0.017712,-0.017712,-0.017712,-0.017712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9718,-0.018291,-0.011729,-0.004138,-0.011456,-0.017712,-0.012033,-0.004383,-0.006359,-0.020524,-0.014124,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-0.001642
9719,-0.018291,-0.011729,-0.004138,-0.011456,-0.017712,-0.012033,-0.004383,-0.006359,-0.020524,-0.014124,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-0.001642
9720,-0.018291,-0.011729,-0.004138,-0.011456,-0.017712,-0.012033,-0.004383,-0.006359,-0.020524,-0.014124,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-0.001642
9721,-0.018291,-0.011729,-0.004138,-0.011456,-0.017712,-0.012033,-0.004383,-0.006359,-0.020524,-0.014124,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-0.001642
9722,-0.018291,-0.011729,-0.004138,-0.011456,-0.017712,-0.012033,-0.004383,-0.006359,0.060859,-0.014124,...,-0.001642,-0.001642,-0.001642,-0.001642,-0.001642,-0.001642,-0.001642,-0.001642,-0.001642,1.000000

In [21]:
# R_pd_demeaned.loc[R_pd_demeaned == 0]

# test_df = R_df.mask(R_df > 0)
test_df = R_df.where(R_df > 0)

In [22]:
# test_df.isnull().values.any()
# test_df.isnull()

test_df.loc[1]

userId
1      4.0
2      NaN
3      NaN
4      NaN
5      4.0
      ...
606    2.5
607    4.0
608    2.5
609    3.0
610    5.0
Name: 1, Length: 610, dtype: float64

In [36]:
n = 0
for i in test_df.loc[1]:
    if test_df.at[i].isnull():
        test_df.at[i] = cos_sim_df[n]
        print("test_df " + test_df.at[i] + " - cos_sim_df " + cos_sim_df[n])
    n = n + 1
# n = 0

display(test_df.loc[1])

ValueError: At based indexing on an integer index can only have integer indexers

In [25]:
# R_df
# list(R_df.columns.values)

# weighted_avg = cos_sim_df.lambda(x: )

for i in range(len(cos_sim_df[0])):
#     display(i)
    for j in range(len(cos_sim_df)):
#         if R_pd_demeaned[i] == 0:
#             print("Empty")
        print(R_pd_demeaned[i])

KeyError: 0

#### TESTES - DESCARTAR

In [10]:
pdf = R_pd_demeaned

# import pyspark as spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

# spark.conf.set("spark.sql.execution.arrow.enabled", "true")

df = spark.createDataFrame(pdf).rdd.map(tuple)

from pyspark.mllib.linalg.distributed import RowMatrix
# Convert to RowMatrix
mat = RowMatrix(df)

# Calculate exact and approximate similarities
exact = mat.columnSimilarities()
approx = mat.columnSimilarities(0.05)

In [11]:
# Output
exact.entries.take(5)

[MatrixEntry(124, 154, -0.0721391767602993),
 MatrixEntry(347, 428, -0.021231799020259366),
 MatrixEntry(182, 531, 0.29987813354343446),
 MatrixEntry(327, 584, -0.025341249770483708),
 MatrixEntry(371, 475, 0.08164555850494853)]

In [ ]:
pdf = pd.DataFrame(R_demeaned)

# import pyspark as spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

spark.conf.set("spark.sql.execution.arrow.enabled", "true")

df = spark.createDataFrame(pdf)

# Calculate exact and approximate similarities
exact = df.columnSimilarities()
approx = df.columnSimilarities(0.05)

In [ ]:
display(exact)

In [ ]:
display(approx)

In [ ]:
from numpy import dot
from numpy.linalg import norm

# cos_sim = dot(R_demeaned[0], R_demeaned[1])/(norm(R_demeaned[0])*norm(R_demeaned[1]))
# display(cos_sim)
# cos_sim = dot(R_demeaned[0], R_demeaned[2])/(norm(R_demeaned[0])*norm(R_demeaned[2]))
# display(cos_sim)

# np.dot()
# np.linalg.norm()

cos_sim = []

print(len(R_demeaned))
# i = 0
for i in range(1):
    for j in range(len(R_demeaned)):
        cos_sim.append(dot(R_demeaned[i], R_demeaned[j])/(norm(R_demeaned[i])*norm(R_demeaned[j])))
#     cos_sim.append(0.00000000000)
    
NEGATIVE_COUNT = 0
POSITIVE_COUNT = 0
for i in cos_sim:
    if (i < 0):
        NEGATIVE_COUNT = NEGATIVE_COUNT + 1
#         display(i)
    else:
        POSITIVE_COUNT = POSITIVE_COUNT + 1
        
display(NEGATIVE_COUNT)
display(POSITIVE_COUNT)